*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
outline: 1px solid red;
}
 */


html,body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%; 
        /* border: 1px solid red; */
    }


.container{
    display: flex;
}





/* Extra small (xs) – menores a 576px */
@media (max-width: 575.98px) {
  /* estilos pantallas menores a 576px */
    
    html, body{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 5px;
    }

    header {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cabeza {
    background-color: salmon;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .arriba{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
    }

    main{
        /* border: 1px solid black; */
        width: 100%;
        height: 70%; /* si le doy mas se separa del pie */
        display: flex;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 5px;
    }
    .caja{
        /* width: 30px; */
        /* border: 1px solid black; */
        /* width: 100%; */
        height: 100px;
        flex: 1; /* recomendacion de IA quita linea 93,101,108 */
    }
    .caja1{
        background-color: red;
        /* font-size: 70px; */
        font-size: 4.375rem; /* equivalente a 70px si 1rem = 16px */

        /* height: 33.3%;         quitar segun ira para numero 88 funcione*/
    }
    .caja2{
        background-color: skyblue;
        /* font-size: 70px; */
        font-size: 4.375rem; /* equivalente a 70px si 1rem = 16px */

        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 33.3%;  quitar segun ira para numero 88 funcione 88 */
    }
    .caja3{
        background-color: red;
        /* font-size: 70px; */
        font-size: 4.375rem; /* equivalente a 70px si 1rem = 16px */

        justify-content: end;
        
        /* height: 33.3%;   quitar segun ira para numero 88 funcione 88*/
        display: flex;
        align-items: center;
    }
    footer{
        /* border: 1px solid black; */
        width: 100%;
        height: 20%;
        
    }

    .final{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5px;
    }
    /* .f{
        border: 1px solid black; 
        width: 100%;
    } */
    .pie1{
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    .pie2{
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

}
/* Small (sm) – 576px o más */
@media (min-width: 576px) and (max-width: 767.98px) {
    html,body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 5px;
    }

    header {
        background-color: rgb(114, 218, 250);
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cabeza {
    background-color: rgb(114, 218, 250);
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 82%;
    }

    .arriba{
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    h1 {
        width: 100%;
    }
    main{
        /* border: 1px solid black; */
        width: 100%;
        height: 300px; /* si le doy mas se separa del pie */
        height: 70%;
        
        
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        height: 100%;
        
        gap: 5px;
    }
   /*  .caja{
        
        border: 1px solid black;
    } */
    .caja1{
        background-color: red;
        font-size: 70px;
        /* width: 33.3%; */
        display: flex;
        align-items: center;
        
    }
    .caja2{
        background-color: rgb(219, 143, 92);
        font-size: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 33.3%; */
        padding-left: 85%;
        
    }
    .caja3{
        background-color: green;
        font-size: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 201%;
        /* height: 100%; */
        /* padding-left: 90%; */ 
        /* ↑ no tocar */
    }
    footer{
        /* border: 1px solid black; */
        width: 100%;
        height: 20%;
        
    }

    .final{
        display: flex;
        flex-direction: column;
        /* gap: 5px; */
        height: 100%;
        gap: 5px;
    }

    .pie1{
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    .pie2{
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    
}

/* Medium (md) – 768px o más */
@media (min-width: 768px) {

html,body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 10px;
    }

    header {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    
    .arriba{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
    }

    .cabeza {
    background-color: green;
    
    width: 100%;
    height: 100%;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    }

    h1{
        /* padding-right: 70%; */
        width: 95%;
    }

    main{
        
        width: 100%;
        height: 70%; /* si le doy mas se separa del pie */

    }

    .container{
        /* display: grid; */
        display: flex;
        /* grid-template-columns: repeat(2, 200px); */
        flex-direction: row;
        /* position: relative; */
        width: 100%;
        height: 100%;
        gap: 10px;
    }

    .caja1{
        background-color: red;
        font-size: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
        /* margin-right: 50px; */
        width: 33.3%;
    }

    .caja2{
        background-color: red;
        font-size: 70px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 33.3%;
        height: 100%;
        /* padding-left: 150px; */
    }

    .caja3{
        background-color: red;
        font-size: 70px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        height: 100%;
        width: 33.3%;
    }

    footer{/* 
        border: 1px solid black; */
        width: 100%;
        height: 20%;
        
    }

    .final{
        display: flex;
        
        gap: 20px;
        height: 100%;

    }

  

    .pie1{
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-size: 30px;
    }

    .pie2{
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        font-size: 30px;
    }

    
}
/* Large (lg) – 992px o más */
/* @media (min-width: 992px) {


    
} */
/* Extra large (xl) – 1200px o más */
/* @media (min-width: 1024px) {
    
} */

/* Extra extra large (xxl) – 1400px o más */
/* @media (min-width: 1400px) {
}  */